{% extends 'starter-page.html' %}
{% load static %}
{% block content %}
	<section id="hero" class="hero section light-background">

      <img src="{% static 'gall/icon.png' %}" alt="" data-aos="fade-in">

      <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>WELCOME TO MATTER HOSPITAL</h2>
          <p>Mater Misericordiae Hospital is committed to be a leading healthcare provider in East and Central Africa and to benchmark itself against the highest attainable world standards, seeking continuous improvement.
</p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3>Why Choose Matter Hospital?</h3>
              <p>
                It all stems from a system of care delivery that hasn’t changed—not really—in over 100 years. Faced with fundamental questions, hospitals are buckling under century old answers.


              </p>
              <div class="text-center">
                <a href="#about" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
              <div class="row gy-4">

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                    <i class="bi bi-clipboard-data"></i>
                    <h4>Emergency Help</h4>
                    <p>We provide quick emergency responses when you call our emergency numbers</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                    <i class="bi bi-gem"></i>
                    <h4>Enriched Pharmacy</h4>
                    <p>Our pharmacies are fully equipped with drugs to cure ailments and fasten your recovery</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                    <i class="bi bi-inboxes"></i>
                    <h4>Medical treatment</h4>
                    <p>we provide quality health care to our customers and clients</p>
                  </div>
                </div><!-- End Icon Box -->

              </div>
            </div>
          </div>
        </div><!-- End  Content-->

      </div>

    </section><!-- /Hero Section -->

{% endblock %}
