{% extends 'starter-page.html' %}
{% load static %}
{% block content %}
	 <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Matter Hospital offers the following services </p>
      </div><!-- End Section Title -->

      <div class="container d-flex">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-book-medical"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Counselling services</h3>
              </a>
              <p>We boast of professional therapists whose approach to counselling is wholesome in addressing socia</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Renal Units</h3>
              </a>
              <p>This Unit provides hemodialysis for both in and outpatients with chronic or acute kidney disease requiring renal replacement therapy.</p>
            </div>
          </div><!-- End Service Item -->



          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-medicine"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Pharmacy</h3>
              </a>
              <p>We endevour to offer quality, efficient, and professional pharmaceutical services to patients and other clients</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Physiotherapy</h3>
              </a>
              <p>The Hospital Physiotherapy Unit is a modern and fully equipped unit with full time qualified and dedicated physiotherapists</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->



        </div>

      </div>

    </section><!-- /Services Section -->

{% endblock %}
